

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel teal">
      <span class="white-text">
        <h3>Rose City Sci-fi Book Club</h3>
        <h5>Who we are:</h5>
        <p>
          A small, but like-minded group of inteletctuals who share the same love and affinity for science fiction literature.  As we all love science-fiction, we try to keep our meetings focused on literature, rather than television, movies, or other types of media.
        </p>
        <h5>Meetings</h5>
        <p>
          Every third Thursday of the month at Escape from NY pizza on NW 23rd.
        </p>
      </span>
    </div>
  </div>
</div>
