<!-- <div class="container">
  <div>
    <h3>Add New Member</h3>

    <label>Name</label>
    <input #newName required>

    <label>Email</label>
    <input #newEmail>

    <label>Bio</label>
    <textarea #newBio></textarea>

    <label>Favorite Author </label>
    <input #newFavoriteAuthor>

    <label>Tag Line</label>
    <input #newTagline>

    <button class="btn" (click)="submitForm(newName.value, newEmail.value, newBio.value, newFavoriteAuthor.value, newTagline.value)" routerLink="">Add</button>
  </div>
</div> -->
<div class="row">
  <div class="col s12 m5">
    <div class="card-panel teal">
      <span class="white-text">
        <h3>Add New Member</h3>

        <label>Name</label>
        <input #newName required>

        <label>Email</label>
        <input #newEmail required>

        <label>Bio</label>
        <textarea #newBio required></textarea>

        <label>Favorite Author </label>
        <input #newFavoriteAuthor required>

        <label>Tag Line</label>
        <input #newTagline required>
      </span>

        <label>Role</label>
        <select #newRole class="select drop-down input-field">
          <option value="member">Member</option>
          <option value="board">Board Member</option>
          <option value="president">President</option>
        </select>

      <button class="btn" (click)="submitForm(newName.value, newEmail.value, newBio.value, newFavoriteAuthor.value, newTagline.value, newRole.value)" routerLink="">Add</button>
    </div>
  </div>
</div>
